awbProjects/energy-agent/ressources/EOM_data/doc/01_EnergyOptionModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://www.dawis.wiwi.uni-due.de/EnergyOptionModel" 
	xmlns:eom="http://www.dawis.wiwi.uni-due.de/EnergyOptionModel"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Element definition for a group of TechnicalSystem's + --> 
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<xs:element name="TechnicalSystemGroup" type="eom:TechnicalSystemGroup">
		<xs:annotation>
			<xs:documentation>
			A TechnicalSystemGroup element represents an aggregation of several TechnicalSystem instances that can be 
			organized in a hierarchical manner. Thus, it allows to describe an aggregation of systems as 'system of systems'.
			This XML-element is used for creating files that may be exchanged in various ways.			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType name ="TechnicalSystemGroup">
        <xs:annotation>
        	<xs:documentation>
			The complex type TechnicalSystemGroup represents an aggregation of several TechnicalSystem instances that can be 
			organized in a hierarchical manner. Thus, it allows to describe an aggregation of systems as 'system of systems'.
			</xs:documentation>
		</xs:annotation>
        <xs:sequence>
			<xs:element name="TechnicalSystem" type="eom:TechnicalSystem" maxOccurs="1" />
			<xs:element name="GroupMember" type="eom:GroupMember" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name ="GroupMember">
		<xs:sequence>
			<xs:element name="NetworkID" type="xs:string"/>
			<xs:element name="ControlledSystem" type="eom:ControlledSystem" />
		</xs:sequence>					
	</xs:complexType>
	<xs:complexType name ="ControlledSystem">
		<xs:choice>
			<xs:element name="TechnicalSystemSchedules" type="eom:ScheduleList" maxOccurs="1"/>
			<xs:element name="TechnicalSystem" type="eom:TechnicalSystem"/>
			<xs:element name="TechnicalSystemGroup" type="eom:TechnicalSystemGroup"/>
		</xs:choice>
	</xs:complexType>

	<!-- +++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Element definition for a ScheduleList + -->
	<!-- +++++++++++++++++++++++++++++++++++++++++ -->
	<xs:element name="ScheduleList" type="eom:ScheduleList" >
		<xs:annotation>
			<xs:documentation>
			A ScheduleList element may consist of several Schedules, where each Schedule describes the possible
			operational usage of a TechnicalSystem over time. As a additional information, the actual
			network identifier of the TechnicalSystem, a system identifier and the StorageCapacites can be
			specified for a ScheduleList. 
			This XML-element is used for creating files that may be exchanged in various ways.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name ="ScheduleList">
        <xs:annotation>
        	<xs:documentation>
			The complex type ScheduleList may consist of several Schedules, where each Schedule describes the possible
			operational usage of a TechnicalSystem over time. As a additional information, the actual
			network identifier of the TechnicalSystem, a system identifier and the StorageCapacites can be
			specified for a ScheduleList. 
			</xs:documentation>
		</xs:annotation>
        <xs:sequence>
        	<xs:element name="idScheduleList" type="xs:int" >
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" >
				<xs:annotation>
					<xs:documentation>
					Provides space for a description text.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetworkID" type="xs:string" >
				<xs:annotation>
					<xs:documentation>
					The identifier of a TechnicalSystem in the context of a network.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemID" type="xs:string" >
				<xs:annotation>
					<xs:documentation>
					The SystemID represents an identifier for the type of the system that is a very
					specific and unique identifier, as for example a vendor specific device name
					like a 'Samsung Galaxy S5 Mini', an 'Apple iPhone 6s' and so on.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Setup" type="xs:string" >
				<xs:annotation>
					<xs:documentation>
					The identifier for a setup within Agent.Workbench.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostUnit" type="xs:string"/>
			<xs:element name="dateSaved" type="xs:dateTime" >
				<xs:annotation>
					<xs:documentation>
					The field that describes, when this Schedule was saved (especially in the context of interactions with a database).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterfaceSettings" type="eom:InterfaceSetting" maxOccurs="unbounded"/>
			<xs:element name="StorageCapacities" type="eom:AbstractStorageCapacity" maxOccurs="unbounded"/>
			<xs:element name="Schedules" type="eom:Schedule" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name ="InterfaceSetting">
		<xs:sequence>
			<xs:element name="idInterfaceSetting" type="xs:int" maxOccurs="1"> 
				 <xs:annotation>
				 	<xs:documentation>This identifier is only used in the context of a RDBMS.</xs:documentation>
				 </xs:annotation>
			</xs:element>
			<xs:element name="InterfaceID" type="xs:string" maxOccurs="1"/>
			<xs:element name="Domain" type="xs:string" maxOccurs="1"/>
			<xs:element name="DomainModel" type="eom:AbstractDomainModel" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name ="AbstractStorageCapacity" abstract="true">
		<xs:sequence>
			<xs:element name="idStorageCapacity" type="xs:int" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Domain" type="xs:string" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name ="StorageCapacityEnergy">
		<xs:complexContent>
			<xs:extension base="eom:AbstractStorageCapacity">
				<xs:sequence>
					<xs:element name="Capacity" type="eom:EnergyAmount" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name ="StorageCapacityGood">
		<xs:complexContent>
			<xs:extension base="eom:AbstractStorageCapacity">
				<xs:sequence>
					<xs:element name="Capacity" type="xs:double" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
			
	<xs:complexType name ="Schedule">
		<xs:sequence>
			<xs:element name="idSchedule" type="xs:int" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealTimeSchedule" type="xs:boolean" />
			<xs:element name="StrategyClass" type="xs:string" />
			<xs:element name="SourceThread" type="xs:string" />
			<xs:element name="Priority" type="xs:int" />
			<xs:element name="CalculationTime" type="xs:long" />
			<xs:element name="TechnicalSystemStateEvaluation" type="eom:TechnicalSystemStateEvaluation" maxOccurs="1"/>
			<xs:element name="TechnicalSystemStateList" type="eom:TechnicalSystemStateEvaluation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name ="ScheduleLengthRestriction">
		<xs:annotation>
			<xs:documentation>
			This type describes the maximum length of a Schedule in the context of a real-time
			usage of the EOM. Both parameter will be considered, while a duration of 0 or the 
			value 0 will disable the corresponding restriction.			
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="idScheduleLengthRestriction" type="xs:int" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="eom:Duration"/>
			<xs:element name="MaxNumberOfSystemStates" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>


	<!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Element definition for a TechnicalSystem + -->
	<!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
	<xs:element name="TechnicalSystem" type="eom:TechnicalSystem" >
		<xs:annotation>
			<xs:documentation>
			A TechnicalSystem element describes a specific energy conversion process and consists of all 
			needed information in order to describe the energy technical properties of this process
			and how they can be controlled. 
			This XML-element is used for creating files that may be exchanged in various ways.   
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name="TechnicalSystem">
        <xs:annotation>
        	<xs:documentation>
        	The complex type TechnicalSystem describes a specific energy conversion process and consists 
        	of all needed information in order to describe the energy technical properties of this process
			and how they can be controlled.
        	</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="SystemID" type="xs:string">
				<xs:annotation>
					<xs:documentation>
					The SystemID represents an identifier for the type of the system that is a very
					specific and unique identifier, as for example a vendor specific device name
					like a 'Samsung Galaxy S5 Mini', an 'Apple iPhone 6s' and so on.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Textual description of the current energy conversion process / technical system.</xs:documentation>
				</xs:annotation></xs:element>
			<xs:element name="InterfaceConfigurations" type="eom:TechnicalInterfaceConfiguration" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					The TechnicalInterfaceConfiguration can be used in order to describe the possible types of use of a system.
					Thus, specific program of batch devices (like wasching machines or a tumble dryer), the different connection
					types of an electrical vehicle and so on can be described.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemVariables" type="eom:SystemVariableDefinition" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="CalculationClass" type="xs:string"/>
			<xs:element name="EvaluationSettings" type="eom:EvaluationSettings"/>
			<xs:element name="GeoCoordinate" type="eom:AbstractGeoCoordinate"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbstractGeoCoordinate" abstract="true" />
	

	<xs:complexType name="EvaluationSettings">
		<xs:sequence>
            <xs:element name="DataRepetition" type="eom:DataRepetition" />
            <xs:element name="TimeFormat" type="xs:string" />
			<xs:element name="EvaluationStateList" type="eom:TechnicalSystemStateTime" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InputMeasurements" type="eom:AbstractInputMeasurement" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CostModel" type="eom:CostModel"/>
			<xs:element name="EvaluationClass" type="xs:string">
				<xs:annotation>
					<xs:documentation>
					Describes the class that is to be used as the default evaluation strategy for the current system.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EvaluationClasses" type="eom:EvaluationClass" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Describes the possible classes that can be used as evaluation strategy for this system.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EvaluationClass">
        <xs:annotation>
        	<xs:documentation>
        	This type describes a single evaluation strategy that can be used for the current system.
        	</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="StrategyID" type="xs:string"/>
			<xs:element name="ClassName" type="xs:string"/>
			<xs:element name="Description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="AbstractInputMeasurement" abstract="true">
		<xs:sequence>
			<xs:element name="VariableID" type="xs:string" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InputMeasurement">
		<xs:complexContent>
			<xs:extension base="eom:AbstractInputMeasurement">
				<xs:sequence>
					<xs:element name="StepSeries" type="xs:boolean" />
					<xs:element name="InputMeasurementByTimeSeries" type="eom:InputMeasurementByTime" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputMeasurementByTime">
		<xs:sequence>
			<xs:element name="PointInTime" type="xs:long" />
			<xs:element name="Value" type="eom:FixedVariable" />
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="InputMeasurementCalculated" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:AbstractInputMeasurement">
				<xs:sequence>
					<xs:element name="CalculationClass" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputMeasurementCalculatedSeries">
		<xs:complexContent>
			<xs:extension base="eom:InputMeasurementCalculated" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InputMeasurementCalculatedByState">
		<xs:complexContent>
			<xs:extension base="eom:InputMeasurementCalculated" />
		</xs:complexContent>
	</xs:complexType>

	<!-- +++++++++++++++++++++++++++++++++++++ -->
	<!-- + Type definition for the CostModel + -->
	<!-- +++++++++++++++++++++++++++++++++++++ -->
	<xs:complexType name="CostModel">
		<xs:annotation>
			<xs:documentation>
			This type covers a comprehensive description for the possibly occurring 
			costs of the actual TechnicalSystem or TechnicalSystemGroup   
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CostUnit" type="xs:string"/>
			<xs:element name="SIPrefix" type="eom:EnergyUnitFactorPrefixSI" />
            <xs:element name="TimeUnit" type="eom:TimeUnit" />
			<xs:element name="CostFunctions" type="eom:CostFunction" maxOccurs="unbounded" />
			<xs:element name="StateCostFunction" type="eom:CostFunctionCalculated" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CostFunction">
		<xs:annotation>
			<xs:documentation>
			The type CostFunction basically describes for which domain and flow direction an energy or good flow may be assessed.
			Finally, the actual cost function (extended class of AbstractCostFunction) can be defined. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Domain" type="xs:string"/>
			<xs:element name="Direction" type="eom:Connectivity" />
			<xs:element name="CostFunction" type="eom:AbstractCostFunction" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbstractCostFunction" abstract="true">
		<xs:annotation>
			<xs:documentation>
			Represents the abstract base class for all types of cost functions. 
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="CostFunctionModular">
		<xs:annotation>
			<xs:documentation>
			Specific AbstractCostFunction that enables to describe costs depending on multiple cost factors.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eom:AbstractCostFunction">
				<xs:sequence>
					<xs:element name="CostFunctionModule" type="eom:AbstractCostFunctionModule" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractCostFunctionModule" abstract="true">
		<xs:annotation>
			<xs:documentation>
			Allows to describe specific types of costs (e.g. network charges, production related costs, EEG apportionment and other).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CostType" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostFunctionModuleSingle">
		<xs:complexContent>
			<xs:extension base="eom:AbstractCostFunctionModule">
				<xs:sequence>
					<xs:element name="CostFunction" type="eom:AbstractCostFunction" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CostFunctionModuleMultiple">
		<xs:complexContent>
			<xs:extension base="eom:AbstractCostFunctionModule">
				<xs:sequence>
					<xs:element name="CostPart" type="eom:CostFunctionModuleMultiplePart" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CostFunctionModuleMultiplePart">
		<xs:annotation>
			<xs:documentation>
			Describes the detailed type of costs regarding the above type of costs (e.g. energy consumption costs 
			are separated in 70 % by an OTC contract, while 30 % are taken from a spot market) 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CostTypePart" type="xs:string" />
			<xs:element name="FlowRangeFrom" type="xs:double"/>
			<xs:element name="FlowRangeTo" type="xs:double"/>
			<xs:element name="CostFunction" type="eom:AbstractCostFunction" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CostFunctionConstantOverTime">
		<xs:complexContent>
			<xs:extension base="eom:AbstractCostFunction">
				<xs:sequence>
					<xs:element name="CostValue" type="xs:double" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CostFunctionDataSeries">
		<xs:complexContent>
			<xs:extension base="eom:AbstractCostFunction">
				<xs:sequence>
					<xs:element name="StepSeries" type="xs:boolean" />
					<xs:element name="CostsByTimeSeries" type="eom:CostsByTime" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CostsByTime">
		<xs:sequence>
			<xs:element name="PointInTime" type="xs:long" />
			<xs:element name="CostValue" type="xs:double" />
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="CostFunctionCalculated" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:AbstractCostFunction">
			<xs:sequence>
					<xs:element name="CalculationClass" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CostFunctionCalculatedSeries">
		<xs:complexContent>
			<xs:extension base="eom:CostFunctionCalculated" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CostFunctionCalculatedOverTime">
		<xs:complexContent>
			<xs:extension base="eom:CostFunctionCalculated" />
		</xs:complexContent>
	</xs:complexType>


	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Definition of types for system states over time (3 main classes) + -->
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + 1. Base class for the definition of system states over time + -->
	<xs:complexType name="TechnicalSystemStateTime">
		<xs:sequence>
			<xs:element name="id" type="xs:long" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="GlobalTime" type="xs:long"/>
			<xs:element name="Description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- + 2. Extension No. 1 for the definition of system states over time + -->
	<xs:complexType name="TechnicalSystemState">
		<xs:complexContent>
			<xs:extension base="eom:TechnicalSystemStateTime">
				<xs:sequence>
					<xs:element name="ConfigID" type="xs:string"/>
					<xs:element name="StateID" type="xs:string"/>
					<xs:element name="StateTime" type="xs:long"/>
					<xs:element name="StateTimeFormat" type="eom:TimeUnit"/>
					<xs:element name="IOlist" type="eom:FixedVariable" maxOccurs="unbounded"/>
					<xs:element name="UsageOfInterfaces" type="eom:AbstractUsageOfInterface" maxOccurs="unbounded" />
					<xs:element name="StorageLoads" type="eom:AbstractStorageLoad" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- + 3. Extension No. 2 for the definition of system states over time + -->
	<xs:complexType name="TechnicalSystemStateEvaluation">
		<xs:complexContent>
			<xs:extension base="eom:TechnicalSystemState">
				<xs:sequence>
					<xs:element name="Parent" type="eom:TechnicalSystemStateEvaluation"/>
					<xs:element name="Children" type="eom:TechnicalSystemStateEvaluation" maxOccurs="unbounded"/>
					<xs:element name="EnergyLosses" type="eom:EnergyAmount"/>
					<xs:element name="StateCosts" type="xs:double"/>
					<xs:element name="ResultingCosts" type="xs:double"/>		
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ++++++++++++++++++++++++++++++++++ -->
	<!-- + Definition for interface usage + -->
	<!-- ++++++++++++++++++++++++++++++++++ -->
	<xs:complexType name ="AbstractUsageOfInterface" abstract="true">
		<xs:sequence>
			<xs:element name="idInterfaceUsage" type="xs:long" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterfaceID" type="xs:string"/>
			<xs:element name="CostsCumulated" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsageOfInterfaceEnergy">
		<xs:complexContent>
			<xs:extension base="eom:AbstractUsageOfInterface">
				<xs:sequence>
					<xs:element name="EnergyFlow" type="eom:EnergyFlowInWatt"/>
					<xs:element name="EnergyAmountCumulated" type="eom:EnergyAmount"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UsageOfInterfaceGood">
		<xs:complexContent>
			<xs:extension base="eom:AbstractUsageOfInterface">
				<xs:sequence>
					<xs:element name="GoodFlow" type="eom:GoodFlow"/>
					<xs:element name="GoodAmountCumulated" type="xs:double"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- ++++++++++++++++++++++++++++++ -->
	<!-- + Definition of StorageLoads + -->
	<!-- ++++++++++++++++++++++++++++++ -->
	<xs:complexType name ="AbstractStorageLoad" abstract="true">
		<xs:sequence>
			<xs:element name="idStorageLoad" type="xs:long" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterfaceID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name ="StorageLoadEnergy">
		<xs:complexContent>
			<xs:extension base="eom:AbstractStorageLoad">
				<xs:sequence>
					<xs:element name="StorageLoad" type="eom:EnergyAmount"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name ="StorageLoadGood">
		<xs:complexContent>
			<xs:extension base="eom:AbstractStorageLoad">
				<xs:sequence>
					<xs:element name="StorageLoad" type="xs:double"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Definition of TechnicalInterfaceConfiguration + -->
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<xs:complexType name="TechnicalInterfaceConfiguration">
		<xs:sequence>
			<xs:element name="ConfigID" type="xs:string"/>
			<xs:element name="ConfigDescription" type="xs:string"/>
			<xs:element name="TechnicalInterfaces" type="eom:TechnicalInterface" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="SystemStates" type="eom:State" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="InitialStateID" type="xs:ID"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Definition of TechnicalInterface that is either an energy or good interface (or a corresponding storage) + -->
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<xs:complexType name="TechnicalInterface" abstract="true">
	    <xs:annotation>
        	<xs:documentation>Defines a single technical interface: an energy or a good interface.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="InterfaceID" type="xs:string"/>
			<xs:element name="Description" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="Domain" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="DomainModel" type="eom:AbstractDomainModel" maxOccurs="1" minOccurs="1" />
			<xs:element name="Connectivity" type="eom:Connectivity" maxOccurs="1" minOccurs="1" />
			<xs:element name="CostRelevant" type="xs:boolean" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbstractDomainModel" abstract="true" />
	
	<xs:complexType name="EnergyInterface">
        <xs:annotation>
        	<xs:documentation>Defines a connection to an energy network, like the electricity or gas connection of a house</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
			<xs:extension base="eom:TechnicalInterface">
		        <xs:sequence>
					<xs:element name="EnergyCarrier" type="eom:EnergyCarrier" maxOccurs="1" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EnergyStorageInterface">
		<xs:complexContent>
			<xs:extension base="eom:EnergyInterface">
				<xs:sequence>
					<xs:element name="Capacity" type="eom:EnergyAmount" />
					<xs:element name="CurrentLoad" type="eom:EnergyAmount" />
					<xs:element name="StateIdentifier" type="xs:boolean" />
					<xs:element name="StateIdentifierPrecision" type="xs:double" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GoodInterface">
        <xs:annotation>
        	<xs:documentation>Defines a connection for good transportation</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
			<xs:extension base="eom:TechnicalInterface">
		        <xs:sequence>
				<!-- TODO -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GoodStorageInterface">
        <xs:annotation>
        	<xs:documentation>Defines a connection for a good storage</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
			<xs:extension base="eom:GoodInterface">
		        <xs:sequence>
		        	<xs:element name="Capacity" type="xs:double" />
					<xs:element name="CurrentLoad" type="xs:double" />
					<xs:element name="StateIdentifier" type="xs:boolean" />
					<xs:element name="StateIdentifierPrecision" type="xs:double" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Definition of State and State Transition + -->
	<!-- ++++++++++++++++++++++++++++++++++++++++++++ -->	
	<xs:complexType name="State">
		<xs:sequence>
			<xs:element name="StateID" type="xs:string" maxOccurs="1"/>
			<xs:element name="StateDescription" type="xs:string" maxOccurs="1" />
			<xs:element name="Flows" type="eom:AbstractFlow" minOccurs="1" maxOccurs="unbounded"  />
			<xs:element name="Duration" type="eom:Duration" />
			<xs:element name="FormatTimeUnit" type="eom:TimeUnit" />
            <xs:element name="StateTransitions" type="eom:StateTransition" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="StateEvaluationRanges" type="eom:VariableState" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="x" type="xs:double" default="0"/>
		<xs:attribute name="y" type="xs:double" default="0"/>
	</xs:complexType>

	<xs:complexType name="StateTransition">
		<xs:sequence>
			<xs:element name="NextStateID" type="xs:string" maxOccurs="1"/>
			<xs:element name="MinDuration" type="eom:AbstractDuration" maxOccurs="1" minOccurs="1" />
            <xs:element name="MaxDuration" type="eom:AbstractDuration" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<!-- +++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Definition of energy and good flows + -->
	<!-- +++++++++++++++++++++++++++++++++++++++ -->	
	<xs:complexType name="AbstractFlow" abstract="true">
		<xs:sequence>
			<xs:element name="InterfaceID" type="xs:string" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- ++++++++++++++++ -->
	<!-- + Energy Flows + -->
	<!-- ++++++++++++++++ -->	
	<xs:complexType name="AbstractEnergyFlow" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:AbstractFlow"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EnergyFlowMeasured">
		<xs:complexContent>
			<xs:extension base="eom:AbstractEnergyFlow">
				<xs:sequence>
					<xs:element name="StepSeries" type="xs:boolean" />
					<xs:element name="Measurments" type="eom:EnergyMeasurement" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EnergyFlowGeneral">
		<xs:complexContent>
			<xs:extension base="eom:AbstractEnergyFlow">
				<xs:sequence>
					<xs:element name="EnergyFlow" type="eom:AbstractEnergyFlowInWatt" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	

	<!-- ++++++++++++++ -->
	<!-- + Good Flows + -->
	<!-- ++++++++++++++ -->
	<xs:complexType name="AbstractGoodFlow" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:AbstractFlow"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="GoodFlowMeasured">
		<xs:complexContent>
			<xs:extension base="eom:AbstractGoodFlow">
				<xs:sequence>
					<xs:element name="StepSeries" type="xs:boolean" />
					<xs:element name="Measurments" type="eom:GoodMeasurement" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GoodFlowGeneral">
		<xs:complexContent>
			<xs:extension base="eom:AbstractGoodFlow">
				<xs:sequence>
					<xs:element name="GoodFlow" type="eom:AbstractActualGoodFlow" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- ++++++++++++++++++++++++ -->
	<!-- + Abstract Measurement + -->
	<!-- ++++++++++++++++++++++++ -->
	<xs:complexType name="AbstractMeasurement" abstract="true">
		<xs:sequence>
			<xs:element name="PointInTime" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EnergyMeasurement">
		<xs:complexContent>
			<xs:extension base="eom:AbstractMeasurement">
				<xs:sequence>
					<xs:element name="EnergyFlow" type="eom:EnergyFlowInWatt" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="GoodMeasurement">
		<xs:complexContent>
			<xs:extension base="eom:AbstractMeasurement">
				<xs:sequence>
					<xs:element name="GoodFlow" type="eom:GoodFlow" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- +++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- + Abstract Energy or Good flow definition + -->
	<!-- +++++++++++++++++++++++++++++++++++++++++++ -->
	<xs:complexType name="AbstractInterfaceFlow" abstract="true">
		<xs:sequence>
			<xs:element name="idInterfaceFlow" type="xs:long" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>	
		</xs:sequence>
	</xs:complexType>

	<!-- ++++++++++++++++++++++++++++++++++ -->
	<!-- + Energy Flow in Watt definition + -->
	<!-- ++++++++++++++++++++++++++++++++++ -->
	<xs:complexType name="AbstractEnergyFlowInWatt" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:AbstractInterfaceFlow">
				<xs:attribute name="unit" type="xs:string" fixed="W" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EnergyFlowInWatt">
		<xs:complexContent>
			<xs:extension base="eom:AbstractEnergyFlowInWatt">
				<xs:sequence>
			 		<xs:element name="value" type="xs:double" />
			 		<xs:element name="SIPrefix" type="eom:EnergyUnitFactorPrefixSI" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EnergyFlowInWattCalculated">
		<xs:complexContent>
			<xs:extension base="eom:AbstractEnergyFlowInWatt" />
		</xs:complexContent>
	</xs:complexType>

	<!-- ++++++++++++++++++++++++ -->
	<!-- + Good Flow definition + -->
	<!-- ++++++++++++++++++++++++ -->
	<xs:complexType name="AbstractActualGoodFlow" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:AbstractInterfaceFlow">
				<xs:attribute name="goodUnit" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="GoodFlow">
		<xs:complexContent>
			<xs:extension base="eom:AbstractActualGoodFlow">
				<xs:sequence>
			 		<xs:element name="value" type="xs:double" />
			 		<xs:element name="timeUnit" type="eom:TimeUnit" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GoodFlowCalculated">
		<xs:complexContent>
			<xs:extension base="eom:AbstractActualGoodFlow" />
		</xs:complexContent>
	</xs:complexType>



	<!-- ++++++++++++++++++++++++++++ -->
	<!-- + Energy Amount definition + -->
	<!-- ++++++++++++++++++++++++++++ -->
	<xs:complexType name="EnergyAmount">
		<xs:sequence>
			<xs:element name="idEnergyAmount" type="xs:long" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="Value" type="xs:double" />
            <xs:element name="SIPrefix" type="eom:EnergyUnitFactorPrefixSI" />
            <xs:element name="TimeUnit" type="eom:TimeUnit" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- +++++++++++++++++++++++++++++++++ -->
	<!-- + Duration and time definitions + -->
	<!-- +++++++++++++++++++++++++++++++++ -->
	<xs:complexType name="AbstractDuration" abstract="true">
		<xs:sequence>
			<xs:element name="idDuration" type="xs:long" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Duration">
		<xs:complexContent>
			<xs:extension base="eom:AbstractDuration">
				<xs:sequence>
			 		<xs:element name="value" type="xs:long" />
			 		<xs:element name="unit" type="eom:TimeUnit"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DurationCalculated">
		<xs:complexContent>
			<xs:extension base="eom:AbstractDuration" />
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Setting and Measurement parameter with its descriptions and different types -->
	<xs:complexType name="SystemVariableDefinition" abstract="true">
		<xs:sequence>
			<xs:element name="VariableID" type="xs:string" maxOccurs="1" />
			<xs:element name="VariableDescription" type="xs:string" maxOccurs="1" />
			<xs:element name="SetPoint" type="xs:boolean" maxOccurs="1" />
			<xs:element name="SetPointForUser" type="xs:boolean" maxOccurs="1" />
			<xs:element name="StateIdentifier" type="xs:boolean" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemVariableDefinitionBoolean">
		<xs:complexContent>
			<xs:extension base="eom:SystemVariableDefinition">
				<xs:sequence>
					<xs:element name="GradientTime" type="eom:Duration" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemVariableDefinitionInteger">
		<xs:complexContent>
			<xs:extension base="eom:SystemVariableDefinition">
				<xs:sequence>
					<xs:element name="ValueMin" type="xs:int" />
					<xs:element name="ValueMax" type="xs:int" />
					<xs:element name="EvaluationStepSize" type="xs:int" />
					<xs:element name="Unit" type="xs:string" />
					<xs:element name="GradientTime" type="eom:Duration" />
					<xs:element name="GradientValue" type="xs:int" />
					<xs:element name="StateIdentifierPrecision" type="xs:int" />
					<xs:element name="ControlRange" type="eom:RangeInteger" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemVariableDefinitionDouble">
		<xs:complexContent>
			<xs:extension base="eom:SystemVariableDefinition">
				<xs:sequence>
					<xs:element name="ValueMin" type="xs:double" />
					<xs:element name="ValueMax" type="xs:double" />
					<xs:element name="EvaluationStepSize" type="xs:double" />
					<xs:element name="Unit" type="xs:string" />
					<xs:element name="GradientTime" type="eom:Duration" />
					<xs:element name="GradientValue" type="xs:double" />
					<xs:element name="StateIdentifierPrecision" type="xs:double" />
					<xs:element name="ControlRange" type="eom:RangeDouble" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemVariableDefinitionOntology">
		<xs:complexContent>
			<xs:extension base="eom:SystemVariableDefinition">
				<xs:sequence>
					<xs:element name="OntologyBaseClass" type="xs:string" />
					<xs:element name="ConceptClass" type="xs:string" />
					<xs:element name="ConceptValue" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemVariableDefinitionStaticModel">
		<xs:complexContent>
			<xs:extension base="eom:SystemVariableDefinition">
				<xs:sequence>
					<xs:element name="StaticModelClass" type="xs:string" />
					<xs:element name="StaticModelValue" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Definitions for possible variations of SystemVariableDefinitions -->
	<xs:complexType name="VariableState" abstract="true">
		<xs:sequence>
			<xs:element name="id" type="xs:long" maxOccurs="1"> 
				<xs:annotation>
					<xs:documentation>
					This identifier is only used in the context of a RDBMS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VariableID" type="xs:string" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	
	<xs:complexType name="FixedVariable" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:VariableState" />
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FixedBoolean">
		<xs:complexContent>
			<xs:extension base="eom:FixedVariable">
				<xs:sequence>
					<xs:element name="Value" type="xs:boolean" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FixedInteger">
		<xs:complexContent>
			<xs:extension base="eom:FixedVariable">
				<xs:sequence>
					<xs:element name="Value" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FixedDouble">
		<xs:complexContent>
			<xs:extension base="eom:FixedVariable">
				<xs:sequence>
					<xs:element name="Value" type="xs:double" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:complexType name="RangeVariable" abstract="true">
		<xs:complexContent>
			<xs:extension base="eom:VariableState" />
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RangeBoolean">
		<xs:complexContent>
			<xs:extension base="eom:RangeVariable" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RangeInteger">
		<xs:complexContent>
			<xs:extension base="eom:RangeVariable">
				<xs:sequence>
					<xs:element name="ValueMin" type="xs:int" />
					<xs:element name="ValueMax" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RangeDouble">
		<xs:complexContent>
			<xs:extension base="eom:RangeVariable">
				<xs:sequence>
					<xs:element name="ValueMin" type="xs:double" />
					<xs:element name="ValueMax" type="xs:double" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- In the following some global Constants and Types -->
	<xs:simpleType name="EnergyCarrier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Electricity" />
			<xs:enumeration value="NaturalGas" />
			<xs:enumeration value="Heat" />
			<xs:enumeration value="Hydrogen" />
			<xs:enumeration value="Coal" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EnergyUnitFactorPrefixSI">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yotta, Y, 24" />
			<xs:enumeration value="Zetta, Z, 21" />
			<xs:enumeration value="Exa, E, 18" />
			<xs:enumeration value="Peta, P, 15" />
			<xs:enumeration value="Tera, T, 12" />
			<xs:enumeration value="Giga, G, 9" />
			<xs:enumeration value="mega, M, 6" />
			<xs:enumeration value="kilo, k, 3" />
			<xs:enumeration value="none, , 0" />
			<xs:enumeration value="milli, m, -3" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TimeUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="millisecond, ms" />
			<xs:enumeration value="second, s" />
			<xs:enumeration value="minute, m" />
			<xs:enumeration value="hour, h" />
			<xs:enumeration value="day, d" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Connectivity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Undirected" />
			<xs:enumeration value="Input" />
			<xs:enumeration value="Output" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DataRepetition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None" />
			<xs:enumeration value="Daily" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
